# API W&S
# Настройка запроса: перенаправление всех запросов на 
# index.php
# 24:04:2020 | ©ASu
AddDefaultCharset utf-8
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ ./index.php [L,QSA]